In [13]:
import sys 
sys.path.append('../../')

In [14]:
from sklearn.datasets._samples_generator import make_blobs
import pandas as pd
from Helpers import twod_laplace
X, y_true = make_blobs(n_samples=50, centers=4, n_features=2,
                       cluster_std=0.60, random_state=0)
X_pd = pd.DataFrame(X, columns=['X', 'Y'])
X_pd.head()

          X         Y
0  0.914339  4.550146
1 -1.930380  2.702150
2  1.872718  4.180692
3 -0.555524  4.695958
4 -1.034436  8.259404

In [15]:
X_pd.to_csv('../export/plain.csv')

In [16]:
epsilons = [0.05, 0.25, 0.5, 1, 2, 3, 6, 10, 15]
for epsilon in epsilons:
    _, _, Z = twod_laplace.generate_truncated_laplace_noise(X, epsilon)
    Z_pd = pd.DataFrame(Z, columns=['X', 'Y'])
    Z_pd.to_csv('../export/perturbed_'+str(epsilon)+'.csv')